.Principal{ 
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
	padding:20px 0px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}
.Form > div{
	text-align: center;
	width: 100%;
}
h1{
	margin-bottom: 100px;
	text-align:center;
	width:100%;
}

@media only screen and (max-width:768px){
.Form{
width:40%;
}
}


@media only screen and (max-width:450px){
	.Form{
	width:80%;
	}
	}

.content_2{
	color:red;
	


}